/*
font-family: 'Fredericka the Great', cursive;
font-family: 'Rampart One', cursive; 
font-family: 'Pangolin', cursive;
*/


.english-menu-section {
    color: white; 
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#itemsContainer {
    overflow: scroll;
    width: 100%;

}

.menuBanner {
    height: 400px;
    width: 85%;
    border-radius: 10px;
    margin: 20px auto 35px; 
    border: 1px solid red;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.rib-plates {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ribs {
    background:
    linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, 1.0)),
    url('../photos/ribsChar.jpeg');
    background-position: center;
    background-size: cover;
}

#beerWine {
    background:
    linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, 1.0)),
    url('../photos/beerBottles.jpeg');
    background-position: center;
    background-size: cover;
}

#cocktails {
    background:
    linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, 1.0)),
    url('../photos/mojitoTops.jpeg');
    background-position: center;
    background-size: cover;
}

#nonAlcoholic {
    background:
    linear-gradient(rgb(0, 0, 0, .4), rgb(0, 0, 0, 1.0)),
    url('../photos/lemonaid.jpeg');
    background-position: center;
    background-size: cover;
}

.size {
    display: flex; 
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

#muLogoSmall {
    background-image: url('../photos/muRibsLogo.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 7px red solid;
    height: 120px;
    width: 120px;
    min-width: 120px; 
    min-height: 120px;
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
    font-family: 'Pangolin', cursive;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 7px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Pangolin', cursive;
  }

  .sideInfo {
    display: flex;
  }

  p {
    padding: 0px 20px 0px 20px; 
    font-family: 'Pangolin', cursive;
  }

  h2 {
    font-family: 'Rampart One', cursive;
  }

#generalInfoFooter {
    color: rgb(177, 159, 159); 
    font: 1.2rem;
    height: 35vh;
    font-family: 'Pangolin', cursive;

}
